:root{
    --background-color-: #2D3142;
    --background-color2-:#bcabae;
    --background-color3-:#FBFBFB;
    --background-color4-:#A31621;
}
 /*imports and animations*/
 @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 
/*header area*/
body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
a:link a:active {
    color: var(--background-color-);

}
header{
    background-color: var(--background-color-);
    display: flex;
    align-items: center;
    color: var(--background-color3-);
}
.thanks{
    margin-left: 60%;
    
}
.ghImg{
    width: 50%;
    margin-left: 50%;
}
a:visited,a:link{
    color: var(--background-color-);
}
a:hover{
    color: var(--background-color4-);
}

/*Main area*/
.questions{
    background-color: var(--background-color2-);
    margin-left: 10%;  margin-right: 10% ;
    padding-bottom: 5%; padding-top: 5%;
    margin-bottom: 5%; margin-top: 5%;
}
.nextq{
    margin-top: 1%; margin-left: 1%;
    padding: 1%;
}

.titleq{
    text-align: center;
}

.instructions{
    margin-left:1px; 
    padding-left: 10px;
}
input{
    margin-left: 30px;
    align-content: center;
    align-items: center;
}